

body {
  height: 100vh;
  background-image: url('./images/Brickworks-bacgkround.jpeg');
  background-size: cover; 
  background-color: #FAFAFA;
  padding-left: 1vw;
  padding-right: 1vw;
}

#logo {
  margin: 0 auto;
  background-color: #FAFAFA;
  max-width: 40vw;
}

#logo-img {
  margin: 0 auto;
  max-width: 40vw;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: 3rem auto;
  grid-column-gap: 4px;
  grid-row-gap: 8px;
  grid-column: col-start / span 12;
  margin-left: 0.1vw;
  margin-right: 0.1vw;
  background-color: #FAFAFA;
  min-height: 80vh;
  }


 
/*NAVBAR*/

.nav {
  position: absolute;
  position: absolute;
  top: 1rem;
  margin: 0 25 0 5px;
}

.nav-link {
  text-decoration: none;
  font-family: 'Krub', sans-serif;
  margin: 1rem;
  font-size: 1.4rem;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.4rem;
}

.nav-link:first-child {
  padding-top: 0.7rem;
}


.image {
  position: absolute;
  width: 8vw;   
  margin-right: 5px;  
  padding: 15px 5px;  
  cursor: pointer;  
  background-color: #7e7e7e;
}

.image span {
    margin: 0 auto;
    position: relative;
    top: 0.5rem;
}

.image span:before, .image span:after {
    position: absolute;
    content: '';
}

.image span, .image span:before, .image span:after {
    width: 31px;
    height: 6px;
    background-color: whitesmoke;
    display: block;
}

.image span {
  transition: transform 1s ease;
}

.image span:before {
  margin-top: -12px;
  transition: transform 1s ease;
  transform-origin: 50% 50%;
}

.image span:after {
  margin-top: 12px;
  transition: transform 1s ease;
  transform-origin: 50% 50%;
}

/* .image-closed span {

} */

.image-open span {
  /* position: fixed; */
  transform: scaleX(1.5);
  transform: scaleY(0.7);
}

/* .image-closed span:after {

} */

.image-open span:after {
  transform: translateX(-2px) rotate(45deg);
}

/* .image-closed span:before {
  
} */

.image-open span:before {
  transform: translateX(-2px) rotate(-45deg);
}

.menu {
  position: absolute;
  height: fit-content;
  width: 70vw;
  background-color: #7E7E7E;
  transition: transform 0.5s cubic-bezier(0, 0.52, 0, 1);
  overflow-y: auto;
  padding-top: 4rem;
  padding-bottom: 1rem;
  border-right-style: solid;
  border-right-width: 3px;
  border-right-color: whitesmoke;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: whitesmoke;
  box-shadow: 4px 4px 4px rgba(156, 142, 135, 0.541);
}

.menu-closed {
  transform: translate3d(-75vw, 0, 0);
}

.menu-open {
  transform: translate3d(0vw, 0, 0);
}

 /*HEADINGS*/

 h1 {
  grid-column: col-start / -1;
  grid-row: 1 / 2;
  height: 3rem;
  background-color: #7e7e7e;
  color: #fafafa;
  text-align: center;
  font-family: 'Krub', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 3rem;
  margin-top: 0.5rem;
  padding-left: 10px;
  }

h2 {
  font-family: 'Krub', sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  color: #585858; 
}

.h2-left {
  font-family: 'Krub', sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  color: #585858; 
  text-align: left;
  margin-left: 1rem;
}

h3 {
  font-family: 'Krub', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: #585858; 
}

.flush-left {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}

/*MAIN CONTENT*/

main {
  display: flex;
  flex-direction: column;
  grid-column: col-start 1 / -1;
  grid-row: 2 / span 3;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  padding: 0.5rem;
  }

#sidebar {
  grid-column: col-start / -1;
  grid-row: 5 / span 1;
  background-color:#FAFAFA;
  margin: 0px 0px 2px 0px;
  padding: 4px;
  }

#resources-container {
  box-shadow: -8px 8px 8px rgba(156, 142, 135, 0.541);
}

  /*TEXT CONTAINERS*/

#hub-description {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  font-family: 'Krub', sans-serif;
  font-size: 1.4rem;
  color: #2a2a2a;
  padding: 1rem;
}

#project-description {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 1.4rem;
}

.container-M {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  font-family: 'Krub', sans-serif;
  font-size: 1.2rem;
  color: #2a2a2a;
  font-weight: normal;
}

#top-ten-options {
display: flex;
flex-direction: column;
justify-items: flex-start;
background-color: #f5f5f5;
margin: 5px;
padding: 1rem;
border-radius: 5px;
box-shadow: -8px 8px 8px rgba(156, 142, 135, 0.541);
}

#top-10-top, #top-10-top1 {
padding: 1rem;
}
    

  /* RUNNING TEXT */
.running-txt {
  margin-left: 0.2rem;
  font-family: 'Krub', sans-serif;
  font-size: 1.3rem;
  color: #2a2a2a;
  font-weight: normal;
  line-height: 105%;
}

.running-txt-L {
  font-size: 1.4rem;
  color: #2a2a2a;
  text-align: left;
}

.running-txt-M {
  font-size: 1.2rem;
  color: #2a2a2a;
}


  /*EMPHASIS*/

.semi-txt-M {
  font-family: 'Krub', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: #2a2a2a; 
}

  .strong-txt-M {
  font-family: 'Krub', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: #585858; 
  }

  .strong-txt-L, .li-p-strong {
    font-family: 'Krub', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    color: #585858; 
  }

  .bold-txt {
    font-weight: bold;
  }

  .italicised {
    font-style: italic;
  }

  .centred-txt {
    text-align: center;
  }

  /* LINKS */
  .link {
    color: #3343D7;
    text-decoration: none;
  }

  .link-txt {
    text-decoration: none;
  }

  /*LISTS*/

ol {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  margin: 1rem;
  padding: 0.2rem;
 }

 .ol-num {
  display: flex;
  flex-direction: column;
  list-style-type: number;
  margin: 1rem;
  padding: 20px;
  font-family: 'Krub', sans-serif;
  font-size: 1.2rem;
  color: #2a2a2a;
 }

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0rem 1rem;
  padding: 0rem 0.2rem 2rem 0.2rem;
}

ul:first-child {
  padding-top:0;
}

li, .li-content {
  font-family: 'Krub', sans-serif;
  font-size: 1.2rem;
  color: #2a2a2a;
  padding: 0.5rem;
  }


#event-desc-long {
  background-color: #f5f5f5;
  font-family: 'Krub', sans-serif;
  font-size: 1.2rem;
  color: #2a2a2a;
}

.ul-single-event {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0rem 1rem;
    padding: 0rem 0.2rem 2rem 0.2rem;
  }
  /* justify-self: center;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: center;
  margin-top: 1rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  margin-bottom: 1rem;
  padding: 0; */



/*BUTTONS*/

.button-large {
  margin: 0 auto;
  font-family: 'Krub', sans-serif;
  letter-spacing: 0.06rem;
  font-weight: 600;
  font-size: 1.2rem;
  color: #2a2a2a;
  background-color: #92d8d8;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  }

.button-large:hover {
  background-color: #ffc882;
}

.button-large:active {
  background-color: #ffc882;
}

.form-button {
  margin-top: 20px;
}
.form-button, .button-large:disabled {
  margin-top: 2rem;
  background-color: lightgray;
}

/*FORM*/
.main-form {  
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 75vmin;
  justify-content: center;
  padding-bottom: 20px;
}

#form-h3 {
  margin-left: 0;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 90vw;
  
}

.checkbox-choices {
  display: flex;
  flex-direction: row;
  line-height: 1rem;
  margin-top: 10px;
}

.form-label {
  font-family: 'Krub', sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  color: #585858; 
  margin-top: 10px;
}

form > input {
  height: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  background-color: #eeeeee;
}

textarea {
  border-style: solid;
  border-width: 2px;
  border-color: #a9b7b9;
  border-radius: 5px;
  margin-bottom: 20px;

}

.red-asterisk {
  color: #bb1d1d;
  font-size: 1.5rem;
  }

  .label-checkbox {
    margin-right: 0;
    margin-left: auto;
  }
  
  .checkbox {
    border-radius: 5px;
    width: 2rem;
    height: 1rem;
    margin-right: 0;
    margin-left: auto;
  }
 
  .form-errors-container {
    grid-column: 2 / 12;
    grid-row: 5 / 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10 px 20px;
    margin: 0 auto;
    border-radius: 5px;
    }


 .formErrors {
    font-family: 'Krub', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    color: #bb1d1d;
    padding:20px;
    margin: 0 auto;
    }

 
/* FOOTER */
footer {
  grid-column: col-start / -1;
  grid-row: 6 / span 2;
  text-align: center;
  font-family: 'Krub', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
  padding: 16px;
  color: white;
  background-color: #7e7e7e;
  }

  /*IMAGES*/

  .content-image {
    width: 75vmin;
    margin: 0 auto;
    box-shadow: -8px 8px 8px rgba(156, 142, 135, 0.541);

  }

  .img-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }

  #single-event-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    padding: 1rem 0rem;
  }

  .single-event-img {
    margin: 0 auto;
    width: 60vw;
    box-shadow: -8px 8px 8px rgba(156, 142, 135, 0.541);
  }
  
  #fb-logo-img, #twitter-logo-img, #email-symbol-img {
    height: 20px;
    margin: 0 auto;
    padding: 2px 30px;
  }
  
  #logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
  
/*----------------------------------------------*/

/*MEDIA QUERIES*/

@media screen and (min-width: 500px) and (orientation: landscape) {

  body {
    padding-left: 1.6vw;
    padding-right: 1.6vw;
  }

  .wrapper {
    grid-template-rows: 5rem auto;
    margin-left: 0;
    margin-right: 0;
  }
 
  .nav {
    position: absolute;
    top: 1rem;
  }


  .menu {
    position: absolute;
    height: fit-content;
    width: 23vw;
    transition: transform 0.5s cubic-bezier(0, 0.52, 0, 1);
    overflow-y: auto;
    padding-top: 4rem;
  }

  /*HEADINGS - LARGE SCREENS*/

  h1 {
      grid-column: 2 / -1;
      grid-row: 1 / 2;
      height: 5rem;
      font-size: 2.5rem;
      line-height: 5rem;
  }

  h2 {
    font-size: 2rem;
    padding-top: 1rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .h2-left {
    padding: 1rem;
    font-size: 2rem;
  }

  main {
    grid-column: col-start 2 / -1;
    margin: 0 auto;
    padding: 1rem;
  }

  #sidebar {
    grid-column: col-start / span 1;
    grid-row: 2 / 7;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 10vw;
    margin: 5px 0px 5px 5px;
    background-color:#efefef;    
    }

/*TEXT CONTAINERS - LARGE SCREEN*/

  #hub-description {    
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: 20rem;
    margin-right: 20rem;
    font-size: 1.6rem;   
    padding: 0;
  }

  #project-description {
    padding: 0rem 1rem;
    margin: 1rem 5rem;
  }

  #single-event-container {
    min-height: 70vh;
    padding: 1rem;
    margin: 1rem 5rem;
  }

  .strong-txt-M {
  font-size: 1.4rem;  }

/*LISTS - LARGE SCREEN*/

 ol {
    padding: 1rem;
    margin: 1rem 3rem;
  }

  ul {
    margin: 0rem 1rem;
    padding: 0rem 0.2rem 0.2rem 0.2rem;
  }

  #ol-num {
    padding: 0.5rem;
    margin: 1rem 3rem;
    font-size: 1.4rem;
  }

  ul-single-event {
    margin: 1rem 3rem;
    padding: 1rem;
  }

  
  li, #event-desc-long {
    font-size: 1.4rem;
    padding: 0.5rem;
    margin-left: 0.5rem;
  }

  .li-content {
    font-size: 1.4rem;
    padding: 0.5rem;
    margin-left: 0.5rem;
  }

  /*FORM - LARGE SCREENS*/

  .main-form {
    width: 45vw;
  }

  .form-errors-container {
    grid-column: 5 / span 5;
  }
  
  .formErrors {
    font-size: 1.4rem;
    text-align: left;
  }

  .button-large {
    letter-spacing: 0.04rem;
    font-weight: 600;
    font-size: 1.6rem;
  }

  

/*IMAGES - LARGE SCREEN*/

.image {
  position: absolute;
  width: 12vw; 
  height: 2.3rem;
  padding-top: 28px; 
  margin-left: auto;
  margin-right: 10px;      
  cursor: pointer;  
  background-color: #7e7e7e;
}

.img-container {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
}

.single-event-img, .content-image {
  margin: 0 auto;
  width: 50vw;
}

#logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#fb-logo-img, #twitter-logo-img, #email-symbol-img {
  width: 70px;
  height: auto;
  margin: 0 auto;
  padding: 45px 30px;
}

footer {
  padding: 16px 16px 16px 10vw;
  font-size: 1.1rem;
}

}